.authLink{
color: green;
text-align: center;
}
body
{
background-image:url(../img/texture3.png);
background-repeat:no-repeat;
background-size: cover;
background-position:0% 0%;
}
.footer {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 0;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 1px 0;
  color: #b3b3b3;
  font-size: 20px;
}
.form .upmessage {
  margin: 0 0 35px 0;
  color: black;
  font-size: 30px;
  text-decoration: underline;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.authors dt {
  background-color: white;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  position: sticky;
  top: 50px;
  text-align: center;

}
img{
  margin: 35px;
}

.reg{
  margin-top: 8px;
 margin: 8px 8px 0 8px;
}

.shop {
  display:none;
  position:fixed;
  top:10.3%;
  left:10.3%;
  width:80%;
  height:80%;
  background:blue;
  .rounded;
  outline:10px solid red;
}

.shop > h1 {
  padding:30px 30px 10px 30px;
  color:white;
  font-size:100%;
}



.shop > span {
  cursor:pointer;
  position:absolute;
  top:4%;
  right:4%;
  -webkit-border-radius:100px;
     -moz-border-radius:100px;
          border-radius:100px;
  background:green;
  color:blue;
  padding:6px 0px 0px 9px;
  width:30px;
  height:30px;
}
.search {
  display:none;
  position:fixed;
  top:10.3%;
  left:10.3%;
  width:80%;
  height:80%;
  background:blue;
  .rounded;
  outline:10px solid red;
}

.search > h1 {
  padding:30px 30px 10px 30px;
  color:white;
  font-size:100%;
}



.search > span {
  cursor:pointer;
  position:absolute;
  top:4%;
  right:4%;
  -webkit-border-radius:100px;
     -moz-border-radius:100px;
          border-radius:100px;
  background:green;
  color:blue;
  padding:6px 0px 0px 9px;
  width:30px;
  height:30px;
}

.box {
  display: inline-block;
  /*background-color: white;*/
  background-position: left;
  height: 150px;
  width: 150px;

}
.description {
  position: absolute;
  display: none;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.transform-active {
  background-color: white;
  background-size: cover;
  height: 200px;
  width: 100%;
  display: block;
}
